<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Eliminar Task</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">    
    <p>Esta segundo que desea Eliminar el registro seleccionado?</p>
</div>
<div class="modal-footer">
    
    <button class="btn btn-primary" type="button" ng-click="ok(Id)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>